[submodule "ugine/external_src/spdlog"]
	path = ugine/external_src/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ugine/external_src/glfw"]
	path = ugine/external_src/glfw
	url = https://github.com/AdrianOrcik/glfw
[submodule "ugine/external_src/imgui"]
	path = ugine/external_src/imgui
	url = https://github.com/AdrianOrcik/imgui.git
[submodule "ugine/external_src/glm"]
	path = ugine/external_src/glm
	url = https://github.com/AdrianOrcik/glm
